In [1]:
import pandas as pd
import numpy as np

In [2]:
# Nivéis de índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A', 'B'])

In [6]:
df

             A         B
G1 1 -0.845725  0.094165
   2  1.848756 -0.829811
   3 -1.563099 -0.238840
G2 1  0.979851 -0.892697
   2  0.595948 -0.514749
   3  0.167644 -0.043621

In [7]:
df.loc['G1']

          A         B
1 -0.845725  0.094165
2  1.848756 -0.829811
3 -1.563099 -0.238840

In [12]:
df.index.names = ['Grupo', 'Numero']

In [13]:
df

                     A         B
Grupo Numero
G1    1      -0.845725  0.094165
      2       1.848756 -0.829811
      3      -1.563099 -0.238840
G2    1       0.979851 -0.892697
      2       0.595948 -0.514749
      3       0.167644 -0.043621

In [14]:
df.xs('G1')

               A         B
Numero
1      -0.845725  0.094165
2       1.848756 -0.829811
3      -1.563099 -0.238840

In [15]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.845725  0.094165
G2     0.979851 -0.892697